@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 7;
}

:root{
    font-size: 18px;
}

header{
   color: maroon;
    background-color: lightpink;
}

header#home nav .menu a::before {
   content: "<";
}

header#home nav .menu a::after {
   content: ">"; 
}

body{
    color: rgba(91, 4, 153, 0.856);
    background-color: bisque;
}
footer{
    color: midnightblue;
}
.logo{
    font-family: 'New Tegomin', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
}

p:hover {
text-decoration: underline;
}

p::first-line {
    font-weight: bold;
}

.product-list article img {
    border: 2px solid blueviolet;
    padding: 10px;
    display: block;
    margin: 40px;
    background-color: rgb(255, 216, 143);
}

.menu{
    font-family: 'DotGothic16', sans-serif;
}